@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap');

body {
    font-family: 'Inconsolata', monospace;
}

/* Title CSS */

.titleContainer {
    margin: 50px 20%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.team {
    margin-bottom: 100px;
}

.job {
    position: absolute;
    transform: rotate(90deg);
    margin: 55px 0 0 -50px;
    width: 126px;
}

.name {
    display: block;
}

.column {
    margin: 0 20%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.mov {
    margin-top: 100px;
}